@charset "utf-8";
/* CSS Document */


h1{
	margin-top:0;
	}
	
ul li {
	list-style:none;
	margin:0;
	padding:0;
	}

.header_cover{
	background:#005554;
	width:100%;
	height:70px;
	}

.header_menu{
	margin:0 auto;
	background:#005554;
	width:930px;
	height:70px;
	}

.header_menu .btn_pulldow{
	clear:both;
	display:block;
	text-align:center;
	}

.leftarea{
	padding-top:15px;
	float:left;
	}


.main_contents{
	margin-top:0;
	padding-top:0;
	margin-bottom:40px;

	}
	
.main_contents p{
	font-size:12px;
	padding-bottom:20px;
	}
	
.navigation_btn ul li {
	float:left;
	padding-right:52px;
	}
	
.navigation_btn ul{
	width:930px;
	height:120px;
	background:#FFF;
	}
	
.navigation_btn{
	width:900px;
	margin:0 auto;
	padding-top:50px;
	padding-bottom:30px;
	}

ul,td{
	margin:0;
	padding:0;
}



.layout_fix{
	clear:both;
	}


.form_area{
	text-align:center;
	margin-bottom:40px;
	}
	
.topic{
	background:#FFF;
	}
	
.form_fix1 {
	height:25px;
	width:160px;
	}
.form_fix2 {
	height:25px;
	width:550px;
	}
	
.form_area th {
	text-align:right;
	font-size:14px;
	font-weight:bold;
	color:#333;
	padding-right:30px;
	padding-bottom:10px;
	}
	
.form_area td{
	text-align:left;
	}
	
.item{
	padding-left:5px;
	}
	
.form_area a{
	color:#099;
	text-decoration:underline;
	}
.notice{
	font-size:11px;
	}
	
.notice_txt{
	font-size:12px;
	text-align:left;
	padding-left:80px;
	}
	
.register_btn{
	padding-top:40px;
	padding-bottom:60px;
	}
	
.form_box {
	clear:both;
	margin: 0 auto;
	width:898px;
	border:solid 1px #CCC;
	background: #f1f1f1;/*#fafafa*/
	padding: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form_box h2{
	color:#999;
	font-size:18px;
	}
	
.tab_area {
	margin: 0 auto;
	width:900px;
	}	
	
.tab_area ul li {
	float:left;
	margin:0;
	padding:0;
	height:50px;
	padding-right:10px;
	}
	
#studentEntity {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
}
	
.profile_image {
	padding: 30px 30px 0 !important;
	margin-bottom: 0 !important;
	width: 100%;
	border-spacing: 0 !important;
}

.profile_image th {
	width: 20%;
	background-color: #fff;
	vertical-align: middle;
	border: 1px solid #ddd;
	border-right: none;
	padding: 0 20px !important;
}

.profile_image td {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 20px;
}

.profile_image td:last-child {
	display: none;
}

.profile_image td img {
	height: auto;
}

.input_data {
	padding: 0 30px !important;
	margin-bottom: 30px !important;
	border-spacing: 0 !important;
	width: 100%;
}

.input_data th {
	width: 20%;
	padding: 0 20px;
	vertical-align: middle;
	border: 1px solid #ddd;
	border-top: none;
	border-right: none;
}
	
.input_data td {
	padding: 20px;
	vertical-align: middle;
	border: 1px solid #ddd;
	border-top: none;
}

.input_data tr:nth-child(odd) th,
.input_data tr:nth-child(odd) td {
	background-color: #f9f9f9;
}

.profile_image tr:hover th,
.profile_image tr:hover td {
	background-color: #f5f5f5;
}

.input_data tr:hover th,
.input_data tr:hover td {
	background-color: #f5f5f5;
}

.select_btn{
	padding-left:20px;
	}
	
.section_line{
	width:820px;
	border-top:#ccc solid 1px;
	margin: 0 auto;
	margin-bottom:10px;
	}
	
/*  mypage2  */

#curSchoolEntity {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.input_school_data {
	padding: 30px 30px 0;
	margin-bottom: 30px;
	width: 100%;
	border-spacing: 0 !important;
}
	
.input_school_data th {
	width: 22%;
	padding: 0 20px;
	vertical-align: middle;
	border: 1px solid #ddd;
	border-right: none;
	border-bottom: none;
}
	
.input_school_data td{
	padding: 20px;
	vertical-align: middle;
	border: 1px solid #ddd;
	border-bottom: none;
}

.input_school_data tr:last-child th,
.input_school_data tr:last-child td {
	border-bottom: 1px solid #ddd;
}

.input_school_data tr:nth-child(even) th,
.input_school_data tr:nth-child(even) td {
	background-color: #f9f9f9;
}

.input_school_data tr:hover th,
.input_school_data tr:hover td {
	background-color: #f5f5f5;
}

#specificEntity {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;	
}

#specificEntity .input_school_data th {
	width: 18%;
}

#specificEntity .input_school_data td:last-child {
	width: 15%;
	border-left: none;
}

.subject{
	height:20px;
	width:60px;
	margin-left:10px;
	margin-right:25px;
	margin-bottom:20px;
	}
	
.form_fix3 {
	height:25px;
	width:300px;
	}

#schoolEntity {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;		
}

#schoolEntity .input_data th {
	border: 1px solid #ddd;
	border-right: none;
	border-bottom: none;
}
	
#schoolEntity .input_data td{
	border: 1px solid #ddd;
	border-bottom: none;
}

#schoolEntity .input_data tr:last-child th,
#schoolEntity .input_data tr:last-child td {
	border-bottom: 1px solid #ddd;
}

#schoolEntity .input_data tr:nth-child(odd) th,
#schoolEntity .input_data tr:nth-child(odd) td {
	background-color: #fff;
}

#schoolEntity .input_data tr:nth-child(even) th,
#schoolEntity .input_data tr:nth-child(even) td {
	background-color: #f9f9f9;
}

#schoolEntity .input_data tr:hover th,
#schoolEntity .input_data tr:hover td {
	background-color: #f5f5f5;
}

#schoolDetailEntity {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
}

#schoolDetailEntity .input_school_data th,
#schoolChargerEntity .input_school_data th {
	width: 20%;
}

#schoolChargerEntity {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
}


.school_area{
	width:830px;
	margin-bottom:40px;
	margin-left:40px;
	}
	
.school_area th{
	background:#10ae01;
	color:#FFF;
	height:36px;
	padding-top:10px;
	border-right:#CCC solid 1px;
	text-align:center;
	padding-left:30px;
	}

	
.school_area td {
	border-top:#CCC solid 1px;
	border-right:#CCC solid 1px;
	text-align:center;	}
	
.bg {
	background:#E4E4E4;
	}
	
.school_area .school_view{
	border-right:none;
	}
	
.school_view{
	padding-top:6px;
	}
	
.school_area .list_end{
	border-right:none;
	}
	
/* mypage3 */

.school_name{
	height:25px;
	width:160px;
	margin-left:10px;
	margin-right:25px;
	margin-bottom:20px;
	}
	
.personal_info{
	height:25px;
	width:160px;
	margin-left:10px;
	margin-right:25px;
	margin-bottom:20px;
	}
	
/* mypage0 */

.select_area{
	margin:0 auto;
	width:640px;
	}

.select_area p{
	text-align:right;
	}	

.select_area h1,
.select_area h2{
	text-align:center;
	}
	
.centerfix {
	padding-left:60px;
	}
	
	
/* */

.pr_view{
	padding-top:10px;
	padding-left:20px;
	}

.slide_area{
	height:180px;
	}

.slide_area p,
.slide_area ul li{
	float:left;
	}
	
.slide_area p{
	padding-right:15px;
	}
	

	
.slide_area ul li{
	padding-top:25px;
	padding-right:10px;
	}
	
.slide_btn{
	padding-top:50px;
	}
	
	
.slide_area h2{
	padding:0;
	margin:0;
	}
	
.slide_area h3{
	margin-bottom:20px;
	}
