@charset "utf-8";
/* CSS Document */


h1,h2,h4,p{
	margin:0;
	padding:0;
	}
	
ul li {
	list-style:none;
	margin:0;
	padding:0;
	}

.header_cover{
	background:#005554;
	width:100%;
	height:70px;
	}

.header_menu{
	margin:0 auto;
	background:#005554;
	width:930px;
	height:70px;
	}

.header_menu .btn_pulldow{
	clear:both;
	display:block;
	text-align:center;
	}

.leftarea{
	padding-top:15px;
	float:left;
	}
	
.rightarea{
	float:right;
	padding-right:50px;
	padding-top:25px;
	}
	
.logout{
	float:right;
	}


.main_contents{
	margin-top:0;
	padding-top:0;
	margin-bottom:10px;

	}
	
.main_contents p{
	font-size:12px;
	padding-bottom:20px;
	}
	
.navigation_btn ul li {
	float:left;
	padding-right:52px;
	}
	
.navigation_btn ul{
	width:930px;
	height:120px;
	background:#FFF;
	}
	
.navigation_btn{
	width:900px;
	margin:0 auto;
	padding-top:50px;
	padding-bottom:30px;
	}

ul,td{
	margin:0;
	padding:0;
}



.layout_fix{
	clear:both;
	}


.form_area{

	margin-bottom:40px;
	}
	
.topic{
	background:#FFF;
	}
	
.form_fix1 {
	height:25px;
	width:160px;
	}
.form_fix2 {
	height:25px;
	width:550px;
	}
	

	
.item{
	padding-left:5px;
	}
	
.form_area a{
	color:#099;
	text-decoration:underline;
	}
.notice{
	font-size:11px;
	}
	
.notice_txt{
	font-size:12px;
	text-align:left;
	padding-left:80px;
	}
	
.register_btn{
	padding-top:40px;
	padding-bottom:60px;
	}
	
.form_box{
	clear:both;
	margin: 0 auto;
	width:898px;
	border:solid 1px #CCC;
	background:#FFF;
	}
	


	
.tab_area {
	margin: 0 auto;
	width:900px;
	}	
	
.tab_area ul li {
	float:left;
	margin:0;
	padding:0;
	height:50px;
	padding-right:10px;
	}
	
.input_data{
	padding-left:105px;
	margin-bottom:40px;
	}
	
.input_data td{
	padding-bottom:20px;
	}
	
.profile_image{
	padding-top:40px;
	padding-left:40px;
	margin-bottom:25px;
	}
	
.select_btn{
	padding-left:20px;
	}
	
.section_line{
	width:820px;
	border-top:#ccc solid 1px;
	margin: 0 auto;
	margin-bottom:30px;
	}
	

.input_school_data{
	padding-top:40px;
	padding-left:40px;
	padding-bottom:40px;
	}
	
.input_school_data td{
	padding-bottom:20px;
	}
	
.subject{
	height:20px;
	width:60px;
	margin-left:10px;
	margin-right:25px;
	margin-bottom:20px;
	}
	
.form_fix3 {
	height:25px;
	width:300px;
	}
	

	
.school_area .list_end{
	border-right:none;
	}
	
.school_name{
	width:300px;
	}
		
.school_area td	.school_view{
	text-align:left;
	}

.school_data{
	text-align:left !important;
	}	

ul.pageNav03 {
	/zoom: 1;
	overflow: hidden;
	margin: 0 0 10px;
	padding: 10px;
}

ul.pageNav03 li {
	float: left;
	margin: 0 1px 1px 0;
}

ul.pageNav03 li span,
ul.pageNav03 li a {
	float: left;
	padding: 5px 10px;
}

ul.pageNav03 li a:hover {
	background: #ffc;
}

.pagenation ul{
	clear:both;
	padding-left:380px;
	padding-bottom:40px;
	}




	
.layout_fix2{
	clear:both;
	margin:0;
	}


.rightarea2,
.leftarea2{
	text-align:left;
	}
	
	
.leftarea2{
	width:300px;
	height:100%
	float:left;
	}
	
.rightarea2{
	width:500px;
	height:100%;
	float:left;
	}
	
/*        */





.school_promotion{
	margin-top:30px;
	margin-left:30px;
	margin-bottom:30px;
	}
	
.school_picture{
	display:block;
	}
	
.school_picture,
.school_promotion p,
.school_promotion h1,
.school_promotion h2{
	float:left;
	}
	
.school_promotion h1{
	border-left:#093 solid 6px;
	padding-left:10px;
	padding-top:4px;
	margin-left:20px;
	width:580px;

	}
	
.school_promotion h2{
	font-size:14px;
	margin-left:20px;
	padding-top:20px;
	width:580px;
	}
	
.school_promotion p{
	font-size:12px;
	width:580px;
	margin-left:20px;
	padding-top:10px;
	
	}
	
.breadpath{
	width:930px;
	margin:0 auto;
	padding-left:25px;
	padding-top:10px;
	font-size:12px;
	}

h3{
	background:url(../images/locale/ja/user/pages/school/ttl_school_name.png) no-repeat;
	height:43px;
	color:#FFF;
	padding-top:11px;
	padding-left:25px;
	margin-left:30px;
	font-size:16px;
	font-weight:normal;
	}
	
.school_guide{
	margin-left:30px;
	}
.school_guide .subpic{
	margin-left:28px;
	}

.school_guide p,
.school_guide subpic{
	float:left;
	}
.school_guide p{
	font-size:12px;
	width:630px;
	}
	
.school_info{
	margin-left:30px;
	font-size:12px;
	width:430px;

	float:left;
	}
	
.school_info p{
	margin-bottom:35px;

	}
	
.map {
	display:block;
	float:left;
	}
	
h4{
	border-left:#093 solid 6px;
	padding-left:5px;
	margin-bottom:15px;
	}
	
.form_area th {
	font-weight:normal;
	font-size:12px;
	background:#e7f9e3;
	border-bottom: dashed 1px #666;
	border-collapse:0;

	}
	
.form_area td{
	font-size:12px;
	width:541px;
	padding-left:5px;
	margin-left:5px;
	padding-top:15px;
	padding-bottom:15px;
	border-bottom: dashed 1px #666;
	}
	
.subject01{
	display:block;
	padding-bottom:10px;
	}
	
.subject_end{
	border:none !important;
	}
	
.form_area table{
	margin-left:30px;
	margin-bottom:30px;
	}
	
.form_area th{
	width:280px;
	text-align:left;
	}
	
.course{
	padding-left:8px;
	font-size:11px;
	}
	
.subject_list{
	color:#109600;
	font-size:14px;
	padding-left:10px;
	}
	
.layout_fix02{
	clear:both;
	display:block;
	margin-bottom:28px;
	}